* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
  background-color: black;
}

.header {
  overflow: hidden;
  background-color: #e0b2af;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  font-family: TimesNewRoman;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
}

.header-right a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}
.footer {
   background-color: #e0b2af;
   color: white;
   text-align: center;
   padding: 20px;
   position: absolute;
   bottom: 0;
   width: 100%;
}
.mySlides {display: none}
img {horizontal-align: middle;}
.slideshow-container {
  max-width: 350px;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}
.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: left;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.introduction 
{color:white;
text-align:center;
}
.rows:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
}
.main {
  float: left;
  width: 70%;
  padding: 20px;
}
.column1{
 width: 25%;
 padding: 10px;
  float:left;
}
.column2{
 width: 50%;
 padding: 10px;
  float:left;
  color: white
}